<html>
<head>
  <link rel="stylesheet" href="libs/alchemy/styles/vendor.css">
  <link rel="stylesheet" href="libs/alchemy/alchemy.min.css">
  <link rel="stylesheet" href="stylesheets/graph.css"/>
</head>
<body>
  <div class="alchemy" id="alchemy"></div>
  <link rel="stylesheet" href="libs/alchemy/scripts/vendor.js">
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.4/lodash.min.js"></script>
  <script type="text/javascript" src="libs/alchemy/alchemy.min.js"></script>
  
  <script type="text/javascript">

    var config = {
      dataSource: 'data/charlize.json',
      forceLocked: true,
      linkDistance: function(){ return 40; },

      nodeTypes: {"type":["movie", 
                          "award", 
                          "person"]},
      caption: function(node){ 
          return node.caption; 
      }
    };

    alchemy = new Alchemy(config)
  </script>
</body>
</html>