<html>
<head>
  <link rel="stylesheet" href="libs/alchemy/styles/vendor.css">
  <link rel="stylesheet" href="libs/alchemy/alchemy.min.css">
  <link rel="stylesheet" href="stylesheets/graph.css"/>
</head>
<body>
  <div class="menu">
      <div class="label root">Curso (x) </div>
      <div class="label dir">Curso (x) </div>
      <div class="label">Curso (x) </div>

  </div>
  <div class="alchemy" id="alchemy"></div>
  <script src="libs/alchemy/scripts/vendor.js" charset="utf-8"></script>
  <script type="text/javascript" src="libs/alchemy/alchemy.min.js"></script>
  
  <script type="text/javascript">

    var config = {
      dataSource: 'https://graphml.herokuapp.com/api/graph',
      forceLocked: true,
      linkDistance: function(){ return 40; },

      nodeTypes: {"type":["curso", "periodo", "disciplina"]},
      caption: function(node){ 
          return node.caption; 
      }
    };

    alchemy = new Alchemy(config)
  </script>
</body>
</html>