<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/comum.css"/>
  <link rel="stylesheet" href="stylesheets/graph.css"/>
  <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>

  <!-- Modal -->
  <div class="modal fade" id="modalNode" tabindex="-1" role="dialog" aria-labelledby="modalNode" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modalTitle">Modal title</h4>
        </div>
        <div class="modal-body" id='modalBody'></div>
        <div class="modal-footer" id='modalFooter'>
          <button type="button" id='editButton' class="btn btn-info"><i data-feather="edit"></i></button>
          <button type="button" id='deleteButton' class="btn btn-danger"><i data-feather="trash"></i></button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="add-node" tabindex="-1" role="dialog" aria-labelledby="add-node" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modalTitle">Adicionar Nodo</h4>
        </div>
        <div class="modal-body" id='modalBody'></div>
        <div class="modal-footer" id='modalFooter'>
        </div>
      </div>
    </div>
  </div>

  <div class="upper-menu row">
    <div id="groups" class="col-md-6">
    </div>
    <div id="btns" class="col-md-6 text-right">
      <a class="btn btn-primary" data-toggle="modal" data-target="#add-node"><i data-feather="plus"></i></a>
    </div>
    

  </div>
  <div id="mynetwork"></div>

  <script>
    feather.replace()
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="javascripts/visScript.js"></script>
  
</body>
</html>