<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/graph.css"/>
</head>
<body>

  

  <div id="mynetwork"></div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js" charset="utf-8"></script>
  <script type="text/javascript">
    $.get( "api/graph", function( response ) {
      
      let dados = jQuery.parseJSON(response)

      let nodes = []
      for(let i = 0; i < dados.nodes.length; i++){
        let texto

        if(dados.nodes[i].info.nome){
          texto = dados.nodes[i].info.nome 
        }else{
          texto = dados.nodes[i].info.num
        }
        if(dados.nodes[i].type === 'periodo'){
          nodes.push({id: dados.nodes[i].id, label: texto, level: 2})
        }else if(dados.nodes[i].type === 'disciplina'){
          nodes.push({id: dados.nodes[i].id, label: texto, level:3})
        }else{
          nodes.push({id: dados.nodes[i].id, label: texto, level: -1, group:dados.nodes[i].type})
        }
        
      }

      let edges = []
      for(let i = 0; i < dados.edges.length; i++){
        if(dados.edges[i].caption === 'Possui'){
          let disciplina = nodes.filter(obj => {
            return obj.id === dados.edges[i].target
          })
          if(disciplina[0].level === 3){
            let periodo = nodes.filter(obj => {
              return obj.id === dados.edges[i].source
            })
            disciplina[0].level = periodo[0].label
            disciplina[0].group = periodo[0].label

            for(let j = 0; j < nodes.length; j++){            
              if(nodes[j].id == disciplina[0].id){
                nodes[j] = disciplina[0]
              }
            }
          }else{
            let periodo = disciplina
            
            periodo[0].level = 0
            periodo[0].group = periodo[0].label
            for(let j = 0; j < nodes.length; j++){            
              if(nodes[j].id == periodo[0].id){
                nodes[j] = periodo[0]
              }
            }
          }
          
        }
        if(dados.edges[i].caption === 'requisitos'){
          edges.push({from: dados.edges[i].target, to: dados.edges[i].source, arrows:'to'})
        }else{
          edges.push({from: dados.edges[i].source, to: dados.edges[i].target, arrows:'to'})
        }
      }
      console.log(nodes)
      var container = document.getElementById('mynetwork');
      var data = {
          nodes: nodes,
          edges: edges
      };
      var options = {
        layout: {
          hierarchical: {
            levelSeparation: 300,
            sortMethod: 'directed',
            direction: 'UD'
          }
        },
        physics: {
          hierarchicalRepulsion: {
            nodeDistance: 300
          }
        },
        nodes: {
          shape: 'box',
          margin: 10,
          widthConstraint: {
            maximum: 200
          }
        },
        edges: {
          width: 2,
          smooth: true,
          arrows: {
            to: {
              scaleFactor: 0.4
            }
          }
        },
        groups: {
          curso: {
            color: {background:'#e74c3c',border:'#c0392b'}
          },
          periodo: {
            color: {background:'#FFD123',border:'rgb(223, 181, 32)'}  
          },
          disciplina: {
            color: {background:'#0fcbaa',border:'#0e9e84'}  
          }
        }       
      };
      var network = new vis.Network(container, data, options);
    });
    
    
  </script>

  
</body>
</html>