body{
    background: #000f24;
}
.menu {
    background-color: #010a16;
    padding: 20px 25px;
}


.upper-menu{
    position: absolute;
    z-index: 10;
    width: 100%;
    background: transparent;
    padding: 10px 20px
}

.root {
    background-color: #FFD123;
}
#mynetwork > svg {
    background-color: #000f24 !important;
}

.modal-title{
    margin: 0 auto;
    font-weight: bold;
}
.modal-content{
    background-color: #000f24 !important;
    color: #fff;
}

div.vis-network div.vis-close{
    background-image: url('/images/close.png');
    background-position: 0;
    top: 5px;
}
div.vis-network div.vis-manipulation{
    background:rgba(255,255,255,0.1);
    border: none;
    padding: 7px;
}
div.vis-network div.vis-manipulation div{
    background:#fff;
}
div.vis-network div.vis-edit-mode div.vis-label, div.vis-network div.vis-manipulation div.vis-label{
    background: transparent;
}
table.legend_table {
    font-size: 11px;
    border-width:1px;
    border-color:#d3d3d3;
    border-style:solid;
}
table.legend_table,td {
    border-width:1px;
    border-color:#d3d3d3;
    border-style:solid;
    padding: 2px;
}
div.table_content {
    width:80px;
    text-align:center;
}
div.table_description {
    width:100px;
}

#operation {
    font-size:28px;
}
#network-popUp {
    display:none;
    position:absolute;
    top:350px;
    left:170px;
    z-index:299;
    width:250px;
    height:120px;
    background-color: #f9f9f9;
    border-style:solid;
    border-width:3px;
    border-color: #5394ed;
    padding:10px;
    text-align: center;
}

.addRow {
    margin: 20px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 0 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

#addAttr {
    margin-left: 20px;
}

#rowAddAttr {
    display: none;
}