
.menu{
    background-color: #010a16;
    padding: 20px 25px;
}
.label{
    padding: 15px 20px;
    border-radius: 30px;
    background-color: #0fcbaa;
    color: #fff;
    margin-right: 10px;
}
.root{
    background-color: #FFD123;
}
svg{
    background-color: #000f24 !important;
}

/* circle {
    fill: #0fcbaa !important;
    fill-opacity: 1 !important;
    stroke-width: 3;
    stroke-opacity: 1 !important;
    stroke: #0ea88c !important;
} */

/* circle.curso {
    color: #fff !important;
    stroke-width: 5;
    fill: #0fcbaa !important;
    fill-opacity: 1;
}  */


circle.award {
    stroke: purple;
    stroke-width: 1;
}

circle.person {
    stroke: purple;
    stroke-width: 1;
}
.selected circle{
    fill-opacity: 1;
    stroke-width: 4;
    stroke: purple;
}

.edge {
    stroke-linecap: round;
    stroke: #fff !important;
    stroke-opacity: 1 !important;
    stroke-width: 2;
}

.edge.NOMINATED {
    stroke: purple;
}

.edge.RECEIVED {
    stroke-dasharray: 10,5,2,2,2,5;
    stroke: purple;
    stroke-opacity: 1;
}

.edge.ACTED_IN {
    stroke: purple;
}

.edge.selected {
    stroke: purple;
    stroke-opacity: 1;
    stroke-dasharray: none;
}
  