@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

html,
body {
  height: 100%;
  background: #000f24;
  
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.mid-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

p{
  color: #efefef;
}

.btn{
  font-size: 30px;
  padding: 15px 50px;
  font-family: 'Amatic SC', cursive;
}
.btn-primary{
  background-color: #0fcbaa;
  border: none;
}

.btn-primary:hover{
  background-color: #FFD123;
  border: none;
}
span{
  color: #FFD123;
}
h1,h2{
  font-family: 'Amatic SC', cursive;
  color: #0fcbaa;
}
.dropzone{
  background: #000f24;
}
.mid-form{
  background-image: url('../images/tijolinhos.png');
}

.loader {
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
}

#dimmer
{
    background:#000;
    opacity:0.5;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
    z-index: 100; 
}

/* Center the loader */
#loader {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 101;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
